<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Tasks</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="data">
      <h1>Welcome to the TO - DO App!</h1>
      <form action="/" method="POST" class="form">
        <input type="text" name="task" id="task" placeholder="Enter task..." />
        <label for="task" class="task">Input</label>
        <button class="btn">Add Task</button>
      </form>
      <table class="tasks">
        <tr>
          <th colspan="2">Tasks to Do</th>
        </tr>
        <% for(task of tasks) { %>
        <tr>
          <td><%= task.task %></td>
          <td>
            <form action="/<%=task.id%>?_method=DELETE" method="POST">
              <button class="btn2">Completed</button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
